/* COMMON STYLES */

.list{
    list-style-type: none;
}
.link{
    text-decoration: none;
}
button{
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    color: #434455;
}
.container{
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
/* LOGO */
.page-header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-logo{
    color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}
.logo{
    color: #2E2F42;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

/* NAV */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 40px;
}

.menu-link{
    color: #2E2F42;
    display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus{
color: #404BBF;
}

.current{
    position: relative;
        color: #404bbf;
}
.menu-link.current::after{
content: "";
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
border-radius: 2px;
display: block;
width: 48px;
background: #404BBF;
}

/* ADDRESS */
.page-address{
    font-style: normal;
}
.address-list{
    display: flex;
    gap: 40px;
}
.addres-link{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-link:hover,
.addres-link:focus{
    color: #404BBF;
}

/* HERO SECTION */

.hero-section{
    max-width: 1440px;
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.hero-title{
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;

}
.hero-button{
        background: #4D5AE5;
        color: #FFF;
        display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            margin-left: auto;
                margin-right: auto;
                border-radius: 4px;
                padding: 16px 32px;
                min-width: 169px;
                height: 56px;
                border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
background: #404BBF;
}

/* BENEFITS */

.benefits-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.benefits-section{
    padding: 120px 0;
}

.benefits-item{
    width: calc((100% - 72px) / 4);
}
.benefits-list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}
.ben-item-title{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.ben-item-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* OUR TEAM */
.workers{
    padding: 32px 0;
}
.team-section{
    background-color: #F4F4FD;
 padding: 120px 0;
}
.team-list{
    display: flex;
    gap: 24px;
}
.team-title{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-it-title{
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.team-it-text{
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.app-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.app-item{
    width: 40px;
    height: 40px;
}
.social-app{
    margin-top: 8px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-app:hover,
.social-app:focus {
    background-color: #404bbf;
}
.app-icon{
    fill: #f4f4fd;
}

/* OUR PORTFOLIO */
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.port-list-item{
    border: 1px solid  #E7E9FC;
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.port-it-title{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        
}
.port-it-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
   
}
.image-foto{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: #4D5AE5;
    width: 100%;
    height: 100%;
 padding: 40px 32px; 
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.port-list-item:hover .overlay{
    transform: translateY(0%);
}

/* FOOTER */
.page-footer{
    background: #2E2F42;
   padding-top: 100px;
   padding-bottom: 100px;
}
.logo-footer{
    color: #F4F4FD;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
}
.footer-text{
    color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
}
.page-logo-footer{
    color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
            margin-bottom: 16px;
}
.footer-cont{
    display: flex;
    align-items: baseline;
}

.app-item-foot{
    display: flex;
width: 40px;
    height: 40px;
}
.social-app-foot{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-app-foot:hover,
.social-app-foot:focus {
    background-color: #31D0AA;
}
.app-list-foot{
display: flex;
    gap: 16px;
}
.container-logo{
    margin-right: 120px;
}
.soc-media{
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
/* Backdrop styles */
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999999;
}
.modal{
    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal-close-buutton{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-buutton:hover,
.modal-close-buutton:focus{
    background-color: #404bbf;
    border: none;
}
.mod-icon-but-cl{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}